{% extends "page.html" %}

{% block subtitle %}{{ group_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Abteilungen') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Abteilungen'), named_route='department.index' %}</li>
  <li class="active">{% link_for group_dict.display_name|truncate(35), named_route='department.read', id=group_dict.name %}</li>
{% endblock %}

{% block page_header %}
  <header class="module-content page-header">
    <ul class="nav nav-tabs">
      <li class="active"><a href="{{ h.url_for('department.read', id=group_dict.name) }}"><i class="fa fa-sitemap"></i> {{ _('Datasets') }}</a></li>
      <li><a href="{{ h.url_for('group.activity', id=group_dict.name, offset=0) }}"><i class="fa fa-clock-o"></i> {{ _('Activity Stream') }}</a></li>
      <li><a href="{{ h.url_for('group.about', id=group_dict.name) }}"><i class="fa fa-info-circle"></i> {{ _('About') }}</a></li>
    </ul>
  </header>
{% endblock %}

{% block content_action %}
  {% if h.check_access('group_update', {'id': group_dict.id}) %}
    {% link_for _('Manage'), named_route='group.edit', id=group_dict.name, class_='btn btn-default', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1>{{ group_dict.display_name }}</h1>
  {% if packages %}
    {{ h.snippet('snippets/package_list.html', packages=packages) }}
  {% else %}
    <p class="empty">{{ _('Dieser Abteilung sind keine Datensätze zugeordnet') }}.</p>
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}
{% endblock %}
