{% ckan_extends %}

{% block nums %}{% endblock %}

{% block follow %}
  {% if current_user.is_authenticated %}
    {% if error_message %}
      <div class="alert alert-danger">{{ error_message }}</div>
    {% elif am_following %}
      <a class="btn btn-danger" hx-post="{{ h.url_for('group.unfollow', id=group.id) }}" hx-target="#group-info"><i class="fa-solid fa-circle-minus"></i> Entfolgen</a>
    {% else %}
      <a class="btn btn-success" hx-post="{{ h.url_for('group.follow', id=group.id) }}" hx-target="#group-info"><i class="fa-solid fa-circle-plus"></i> Folgen</a>
    {% endif %}
  {% endif %}
{% endblock %}
