<script>
    function show_checkboxes(a){
        var selected_value = a.parentNode.childNodes[1].childNodes[0].childNodes[1].innerText;
        var checkboxes = document.querySelectorAll("[type=checkbox]");

        for(var i = 0; i < checkboxes.length; i++){
            if(checkboxes[i].id.includes("field-group-") &&
                checkboxes[i].parentNode.innerText.includes(selected_value)){
                checkboxes[i].checked = true;
                checkboxes[i].parentNode.style.display = "block";
            }
        }
    }
</script>

{% import 'macros/form.html' as form %}

{% set main_categories = h.lhm_group_tree_section('main-categories') %}
{% set mc_grp_children = main_categories.children if main_categories else [] %}

{% set departments = h.lhm_group_tree_section('department') %}
{% set d_grp_children = departments.children if departments else [] %}

{% set topics = h.lhm_group_tree_section('topics') %}
{% set t_grp_children = topics.children if topics else [] %}

{% set info_MainCat = 'Einträge im Katalog können auf verschiedene Weisen gruppiert werden. Jeder Eintrag muss einer Hauptkategorie zugeordnet werden, die die Art der Informationsressource angibt und damit die benötigten Metadaten bestimmt.' %}
{% set info_Department = 'Die Abteilung beschreibt die fachlich zuständige Organisationseinheit. Jeder Datensatz muss genau einer Abteilung zugeordnet werden.' %}
{% if data.type == "mobidam" %}
    {% set info_Topic = 'Themen sind eine Möglichkeit zur inhaltlich-thematischen Kategorisierung von Datensätzen. Es muss mindestens ein passendes Thema ausgewählt werden' %}
{% else %}
    {% set info_Topic = 'Themen sind eine Möglichkeit zur inhaltlich-thematischen Kategorisierung von Datensätzen. Es ist mindestens ein passendes Thema auszuwählen.' %}
{% endif %}

{% set data_groups_ids = [] %}
{% for group in data.groups or [] %}
    <label class="control-label" for="field-group" style="display:none"><span title="abc" class="control-required"></span>{{ data_groups_ids.append(group.id) }}</label>
{% endfor %}

{% set selected_main = namespace(id=none) %}
{% for group in mc_grp_children %}
    {% if group.id in data_groups_ids %}
        {% set selected_main.id = group.id %}
    {% endif %}
{% endfor %}

{% set selected_department = namespace(id=none) %}
{% for group in d_grp_children %}
    {% if group.id in data_groups_ids %}
        {% set selected_department.id = group.id %}
    {% endif %}
{% endfor %}

<label class="control-label" for="field-group"><span title="Diese Feld ist erforderlich" class="control-required"></span>{{_('Groups')}}</label>
<br><br><ol>
    <label class="control-label" for="field-group"><span title="Diese Feld ist erforderlich" class="control-required">* </span>{{_('Main Categories')}}</label>
    <span class="fa fa-info-circle" style="font-size: 11pt;" data-toggle="tooltip" title="{{ _(info_MainCat) }}"></span>
    <div class="controls">
        <select id="field-group_1" name="groups__0__id" data-module="autocomplete">
            {% for group in mc_grp_children  %}
                {% if group.id == selected_main.id %}
                    <option value="{{ group.id }}" selected="selected">{{ group.title }}</option>
                {% else %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <br>

    <label class="control-label" for="field-group"><span title="Diese Feld ist erforderlich" class="control-required">* </span>{{_('Abteilungen')}}</label>
    <span class="fa fa-info-circle" style="font-size: 11pt;" data-toggle="tooltip" title="{{ _(info_Department) }}"></span>
    <div class="controls">
        <select id="field-group_3" name="groups__1__id" data-module="autocomplete">
            {% if not selected_department.id %}
                <option value="" selected="selected">{{_('Abteilung auswählen')}}</option>
            {% endif %}
            {% for group in d_grp_children  %}
                {% if group.id == selected_department.id %}
                    <option value="{{ group.id }}" selected="selected">{{ group.title }}</option>
                {% else %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <br>

    {% if data.type == "mobidam" %}
        <label class="control-label" for="field-group"><span title="Diese Feld ist erforderlich" class="control-required">* </span>{{_('Topics')}}</label>
    {% else %}
        <label class="control-label" for="field-group"><span title="Diese Feld ist erforderlich" class="control-required"></span>{{_('Topics')}}</label>
    {% endif %}
    <span class="fa fa-info-circle" style="font-size: 11pt;" data-toggle="tooltip" title="{{ _(info_Topic) }}"></span>

    {% for group in t_grp_children %}
        {% if group.id in data_groups_ids %}
            <label class="checkbox" for="field-group-{{ loop.index0 + 100 }}">
                <input id="field-group-{{ loop.index0 + 100 }}" type="checkbox" name="groups__{{ loop.index0 + 100 }}__id" value="{{ group.id }}" checked=true/>{{ group.title }}
            </label><br>
        {% else %}
            <label class="checkbox" for="field-group-{{ loop.index0 + 100 }}" style="display:none">
                <input id="field-group-{{ loop.index0 + 100 }}" type="checkbox" name="groups__{{ loop.index0 + 100 }}__id" value="{{ group.id }}"/>{{ group.title }}
            </label>
        {% endif %}
    {% endfor %}
    <div class="controls">
        <select id="field-group_2" name="groups__2__id" data-module="autocomplete" onclick="show_checkboxes(this)">
            {% if data.type != "mobidam" %}
                <option value="" selected="selected">{{_('Please choose a topic')}}</option>
            {% endif %}
            {% for group in t_grp_children %}
                <option value="{{ group.id }}">{{ group.title }}</option>
            {% endfor %}
            <option value="">Keine</option>
        </select>
    </div>
    <br>
</ol>
