{#% set pkg = g.pkg_dict %#}
{% set main_categories = h.group_tree_section(id_='main-categories', type_='group', include_siblings=True) %}
{% set count = main_categories.children %}


    {% for grp in pkg.groups %}
        {% if grp.name == count[0].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% elif grp.name == count[1].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% elif grp.name == count[2].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% elif grp.name == count[3].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% elif grp.name == count[4].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% elif grp.name == count[5].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% elif grp.name == count[5].name %}
            <a href="{{ g.site_url }}/group/{{ grp.name }}" title="{{ grp.title }}">
            <img src="{{ grp.image_display_url }}" alt="{{ grp.title }}" title="{{ grp.title }}" class="group-icon" >
            </a>
        {% else %}
          <!-- Do notthing-->
        {% endif %}

    {% endfor %}