<section class="additional-info module-content table1">
  <div class="collapsible-header">
    <h3 style="border-bottom: 2px solid;">{{_('Basic Information')}}</h3>
    <i class="plus-sign fa fa-minus"></i>
  </div>
  <div class="collapsible-content">
    <table class="table package-metadata" id="myTable">
      <tr>
        <td>
          <p class="heading">{{ _("Contact person") }}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Organisationseinheit, die fachlich für die Daten verantwortlich ist."></span></p>
            <p class="metadata">{{ pkg_dict.datenverantwortlicher }}</p>
        </td>
        <td>
            <p class="heading">{{ _("Contact person EMail") }}</p>
            {% if pkg_dict.datenverantwortlicher_email %}
              <p class="metadata">{{ h.mail_to(email_address=h.lhm_validate_email(pkg_dict.datenverantwortlicher_email), name=pkg_dict.datenverantwortlicher_email) }}</p>
            {% else %}
              <p class="metadata">{{ _("Not available") }}</p>
            {% endif %}
        </td>
        <td> 
          <p class="heading">{{ _("External Ownership") }}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Um externe Datenurheber handelt es sich, wenn die Daten nicht von der Landeshautpststadt München stammen (z.B. LDBV)"></span></p>
          {% if pkg_dict.ext_org%}     
            <p class="metadata">{{ pkg_dict.ext_org }}</p>
          {% else %}
            <p class="metadata">{{ _("No") }}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p class="heading">{{ _("Dateneigner") }}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Tooltip Dateneigner"></span></p>
            <p class="metadata">{{ pkg_dict.dateneigner }}</p>
        </td>
        <td>
          <p class="heading">{{ _("Dateneigner E-Mail") }}</p>
          {% if pkg_dict.dateneigner_email %}
            <p class="metadata">{{ h.mail_to(email_address=h.lhm_validate_email(pkg_dict.dateneigner_email), name=pkg_dict.dateneigner_email) }}</p>
          {% else %}
            <p class="metadata">{{ _("Not available") }}</p>
          {% endif %}
        </td>
        <td> 
          <p class="heading">{{ _("Organisation Dateneigner") }}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Tooltip Dateneigner Organisation"></span></p>
          {% if pkg_dict.dateneigner_organisation%}     
            <p class="metadata">{%- snippet 'package/snippets/label.html',
              item='dateneigner_organisation', pkg_dict=pkg_dict, schema=schema -%}</p>
          {% else %}
            <p class="metadata">{{ _("No") }}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>      
          <p class="heading">{{ _("Schema") }}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Name des Datenbankschemas im Geodatenpool (z.B. BAUT, PLAN, RKU)"></span></p>
          {% if pkg_dict.schema %}
            <p class="metadata">{%- snippet 'package/snippets/label.html', item='schema', pkg_dict=pkg_dict, schema=schema -%}</p>
          {% else %}
            <p class="metadata">{{ _("Not available") }}</p>
          {% endif %}
        </td>
        <td>
          <p class="heading">{{ _("Datentyp") }}</p>
          {% if pkg_dict.geometrietyp %}  
            <p class="metadata">{%- snippet 'package/snippets/label.html',
              item='geometrietyp', pkg_dict=pkg_dict, schema=schema -%}</p>
          {% else %}
            <p class="metadata">{{ _("Not available") }}</p>
          {% endif %}
        </td>
        <td>
          <p class="heading">{{ _("Timeliness") }}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Der Update-Zyklus beschreibt, wann Daten aktualisiert werden. Dies kann monatlich oder auf Anforderung erfolgen. Zudem gibt es Daten, für die keine Aktualisierung vorgesehen ist."></span></p>
          {% if pkg_dict.update_zyklus %} 
            <p class="metadata">{%- snippet 'package/snippets/label.html',
              item='update_zyklus', pkg_dict=pkg_dict, schema=schema -%}</p>
          {% else %}
            <p class="metadata">{{ _("Not available") }}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        {% if pkg_dict.stadtarchiv %}
        <td colspan="3"><p class="heading">{{ _("City Archive")}}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Archivwürdigkeit von historisch relevanten Daten. "></span></p>
          <p class="metadata">{%- snippet 'package/snippets/label.html',
            item='stadtarchiv', pkg_dict=pkg_dict, schema=schema -%}</p>
        </td>
        {% endif %}
      </tr>
      <tr>
        {% if pkg_dict.genauigkeit %}
        <td colspan="3"><p class="heading">{{ _("Accuracy")}}
          <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Die Genauigkeit der Daten, hängt von der Art der Datenerhebung ab und gibt Auskunft darüber, für welche Anwendungsfälle die Daten geeignet sind. Ergänzend ist eine Information zu einem geeigneten Maßstab möglich."></span></p>
          <p class="metadata">{%- snippet 'package/snippets/label.html',
            item='genauigkeit', pkg_dict=pkg_dict, schema=schema -%}</p>
        </td>
        {% endif %}
      </tr>
    </table></div>
  </section>
  
  <section class="additional-info module-content table2">
    <div class="collapsible-header">
    <h3 style="border-bottom: 1px solid;">{{_('Usage Remarks')}}</h3>
    <i class="plus-sign fa fa-minus"></i>
  </div>
  <div class="collapsible-content">
    <table class="table package-metadata">

      <tr>
        <td colspan="4" style="padding-bottom: 0px;"><p class="heading">{{ _("LHM-intern")}}</p></td>
        {% if pkg_dict.lhm_intern %}
        <td colspan="2" style="padding-bottom: 0px;">
          <p class="heading">{{ _("Zugriff")}}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Fachverfahren: Der Zugriff durch Fachverfahren meint den direkten (lesenden) Zugriff auf die Daten auf der Datenbank und/oder über Dienste. Standard ist der Zugriff für stadtweit alle Benutzer (d.h. Zugriffsuser inkl. GeoInfoWeb). Teilweise muss der Zugriff auf bestimmte Benutzergruppen (=Zugriffsuser) eingeschränkt werden oder die Daten dürfen nicht für Fachverfahren genutzt werden. 
GeoInfoWeb: Standard ist der Zugriff für stadtweit alle Benutzer (inkl. Stadtrat und Bezirksausschüsse). Der Zugriff über GeoInfoWeb kann auf bestimmte Gruppen begrenzt werden. Dann sind die Daten im GeoinfoWeb nur für diese Nutzer bzw. Gruppen sichtbar."></span>
          </p>
          <p class="metadata">{%- snippet 'package/snippets/label.html',
            item='lhm_intern', pkg_dict=pkg_dict, schema=schema -%}</p>
        </td>
        {% endif %}

        <td colspan="2" style="padding-bottom: 0px;">
          <p class="heading">{{ _("Dokumente zu Nutzungsbedingungen etc.")}}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Fachverfahren: Der Zugriff durch Fachverfahren meint den direkten (lesenden) Zugriff auf die Daten auf der Datenbank und/oder über Dienste. Standard ist der Zugriff für stadtweit alle Benutzer (d.h. Zugriffsuser inkl. GeoInfoWeb). Teilweise muss der Zugriff auf bestimmte Benutzergruppen (=Zugriffsuser) eingeschränkt werden oder die Daten dürfen nicht für Fachverfahren genutzt werden. 
GeoInfoWeb: Standard ist der Zugriff für stadtweit alle Benutzer (inkl. Stadtrat und Bezirksausschüsse). Der Zugriff über GeoInfoWeb kann auf bestimmte Gruppen begrenzt werden. Dann sind die Daten im GeoinfoWeb nur für diese Nutzer bzw. Gruppen sichtbar."></span>
          </p>
          {% for resource in pkg_dict.resources %}
            {% if resource.nutzungsbed == 'lhm_intern' %}
              <p class="metadata">
                <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
              </p>
            {% endif %}
          {% endfor %}
        </td>
      </tr>

      <tr>
        <td colspan="4" style="padding-bottom: 0px;"><p class="heading">{{ _("LHM-extern")}}</p></td>
        {% if pkg_dict.lhm_extern %}
        <td colspan="2" style="padding-bottom: 0px;">
          <p class="heading">{{ _("Zugriff")}}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Tooltip LHM-extern Zugriff"></span>
          </p>
          <p class="metadata">{%- snippet 'package/snippets/label.html',
            item='lhm_extern', pkg_dict=pkg_dict, schema=schema -%}</p>
        </td>
        {% endif %}
        <td colspan="2" style="padding-bottom: 0px;">
          <p class="heading">{{ _("Dokumente zu Nutzungsbedingungen etc.")}}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Fachverfahren: Der Zugriff durch Fachverfahren meint den direkten (lesenden) Zugriff auf die Daten auf der Datenbank und/oder über Dienste. Standard ist der Zugriff für stadtweit alle Benutzer (d.h. Zugriffsuser inkl. GeoInfoWeb). Teilweise muss der Zugriff auf bestimmte Benutzergruppen (=Zugriffsuser) eingeschränkt werden oder die Daten dürfen nicht für Fachverfahren genutzt werden. 
GeoInfoWeb: Standard ist der Zugriff für stadtweit alle Benutzer (inkl. Stadtrat und Bezirksausschüsse). Der Zugriff über GeoInfoWeb kann auf bestimmte Gruppen begrenzt werden. Dann sind die Daten im GeoinfoWeb nur für diese Nutzer bzw. Gruppen sichtbar."></span>
          </p>
          {% for resource in pkg_dict.resources %}
            {% if resource.nutzungsbed == 'lhm_extern' %}
              <p class="metadata">
                <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
              </p>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: none;"><p class="heading">{{ _(" ")}}</p></td>
        {% if pkg_dict.lhm_extern_inhaltliche_einschraenkungen %}
        <td colspan="2" style="border-top: none;">
          <p class="heading">{{ _("Einschränkungen")}}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title="Tooltip LHM-extern inhaltliche Einschränkungen"></span>
          </p>
          <p class="metadata">{%- snippet 'package/snippets/label.html',
            item='lhm_extern_inhaltliche_einschraenkungen', pkg_dict=pkg_dict, schema=schema -%}</p>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan="4" style="border-top: none;"><p class="heading">{{ _(" ")}}</p></td>
        <td colspan="2" style="border-top: none;">
          <p class="heading">{{ _("Open Data") }}
            <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title='Mit Open Data sind Daten gemeint, die frei verfügbar gemacht werden und frei genutzt werden können. Dies bedeutet jedoch nicht, dass es dabei keine Nutzungsbedingungen bzw. Lizenzbedingungen gibt. Ggf. inkludierte und exkludierte Attribute innerhalb des Datensatzes sind der Attributtabelle zu entnehmen. Weitere Hinweise zur Nutzung können unter "Hinweis" mit einem erläuternden Text beschrieben sein.--> Nutzungsrechte bei OpenData: https://www.opengov-muenchen.de/pages/nutzungsbedingungen'></span>
          </p>
          {% if pkg_dict.open_data %}  
            <p class="metadata">{%- snippet 'package/snippets/label.html',
              item='open_data', pkg_dict=pkg_dict, schema=schema -%}</p>
          {% else %}
            <p class="metadata">{{ _("Not available") }}</p>
          {% endif %}
        </td>
        <td colspan="2" style="border-top: none;">
          {% if pkg_dict.open_data != "nein" %}
            <p class="heading">{{ _("Open Data Nutzungsbedingungen") }}
              <span class="fa fa-info-circle" style="font-size: 13pt;" data-toggle="tooltip" title='Mit Open Data sind Daten gemeint, die frei verfügbar gemacht werden und frei genutzt werden können. Dies bedeutet jedoch nicht, dass es dabei keine Nutzungsbedingungen bzw. Lizenzbedingungen gibt. Ggf. inkludierte und exkludierte Attribute innerhalb des Datensatzes sind der Attributtabelle zu entnehmen. Weitere Hinweise zur Nutzung können unter "Hinweis" mit einem erläuternden Text beschrieben sein.--> Nutzungsrechte bei OpenData: https://www.opengov-muenchen.de/pages/nutzungsbedingungen'></span>
            </p>         
            <p class="metadata">{{ h.link_to('opengov-muenchen.de/pages/nutzungsbedingungen', 'https://www.opengov-muenchen.de/pages/nutzungsbedingungen', target='_blank') }}</p>
          {% endif %}
        </td>
      </tr>
    </table></div>
  </section>
  
  {% if pkg_dict.nutzungshinweise %}
  <section class="additional-info module-content table3">
    <div class="collapsible-header">
    <h3 style="border-bottom: 5px solid;">{{ _("Additional hints regarding the resource/data useage")}}</h3>
    <i class="plus-sign fa fa-minus"></i>
  </div>
  <div class="collapsible-content">
    <table class="table package-metadata">
      <tr>
        <td colspan="4">
          <p class="metadata">{%- snippet 'package/snippets/label.html',
            item='nutzungshinweise', pkg_dict=pkg_dict, schema=schema -%}</p>
        </td>
      </tr>
    </table></div>
  </section>
  {% endif %}
  
  <!--
  {% set chg_his = pkg_dict.change_history %}
  {% if chg_his %}
    <section class="additional-info module-content table4">
      <table class="table package-metadata">
        <tr>
          <td colspan="3"><p class="heading">{{ _("Change History")}}</p>
            <p class="metadata">{%- snippet 'package/snippets/label.html',
              item='change_history', pkg_dict=pkg_dict, schema=schema -%}</p>
          </td>
        </tr>
      </table>
    </section>
  {% endif %}-->
  {% set res = pkg_dict.resources[0] %} 
  {% if res and res.datastore_active %}
  {% block resource_data_dictionary %}
    <section class="module-content table4">
      <div class="collapsible-header">
      <h3 style="border-bottom: 5px solid;">{{ _('Data Dictionary') }}</h3>
      <i class="plus-sign fa fa-minus"></i>
    </div>
    <div class="collapsible-content">
      <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
        {% block resouce_data_dictionary_headers %}
        <tr>
          <th scope="col">{{ _('Attribute') }}</th>
          <th scope="col">{{ _('Data Type') }}</th>
          <th scope="col">{{ _('Conditions') }}</th>
          <th scope="col">{{ _('Description') }}</th>
          <th scope="col">{{ _('Remarks') }}</th>
          <th scope="col">{{ _('Open Data') }}</th>
        </tr>
        {% endblock %}
      
        {% block resource_data_dictionary_data %}
          {% set dict=h.datastore_dictionary(res.id) %}
          {% for field in dict %}
            {% snippet "package/snippets/dictionary_view.html", field=field %}
          {% endfor %}
        {% endblock %}
      </table></div>
    </section>
  {% endblock %}
  {% endif %}


  <script>
        document.addEventListener("DOMContentLoaded", function() {
            const collapsibleHeaders = document.querySelectorAll(".collapsible-header");
            
            collapsibleHeaders.forEach(header => {
                const collapsibleContent = header.nextElementSibling;
                const icon = header.querySelector(".plus-sign");

                header.addEventListener("click", function() {
                    collapsibleContent.classList.toggle("hide");
                    icon.classList.toggle("fa-minus");
                    icon.classList.toggle("fa-plus");
                });
            });
        });
</script>