{% ckan_extends %}


{% block content_action %}
  {% snippet 'snippets/add_dataset.html', group=group_dict.name %}
  {{ super() }}
{% endblock %}


{% block groups_search_form %}
  {% set facets = {
    'fields': fields_grouped,
    'search': search_facets,
    'titles': facet_titles,
    'translated_fields': translated_fields,
    'remove_field': remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'snippets/search_form.html', form_id='group-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.args, fields=fields, show_include_subgroups=true %}
{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}
  <div class="filters lhm-facet-accordion">
    <button type="button" class="lhm-facet-toggle-all" data-lhm-facet-toggle-all aria-expanded="false">
      <i class="fa fa-filter" aria-hidden="true"></i>
      <span>{{ _('Datensätze filtern:') }}</span>
      <i class="fa fa-chevron-down lhm-facet-toggle-chevron" aria-hidden="true"></i>
    </button>
    <div class="lhm-facet-list">
      {% for facet in facet_titles %}
        {% snippet 'snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, extras={'id': group_dict.id, 'include_children': request.args.get('include_children', 'true')} %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
