{% set options=[
  {'text': '', 'value': ''},
  {'text': 'OBJECT-ID/Number', 'value': 'number_'},
  {'text': 'GEOMETRY/SDO_GEOMETRY', 'value': 'sdo_geometry'},
  {'text': 'TEXT/NVARCHAR2', 'value': 'nvarchar2'},
  {'text': 'FLOAT', 'value': 'float8'},
  {'text': 'DATE/DATUM', 'value': 'date'},
  {'text': 'TIMESTAMP(6)', 'value': 'timestamp'},
  {'text': 'BLOB', 'value': 'blob'},
  {'text': 'TEXT/NVARCHAR2', 'value': 'text'},
  ] %} 

{#%set od_options=[
    {'value': 'Open Data', 'label': _('Open Data')}, 
    {'value': 'HVD', 'label': _('HVD')},
    {'value': '-', 'label': _('-')}
  ] %#}


<tr>
    <td>{{ field.id }}</td>
    <td>
    {% for option in options %}
      {% if option.value == field.type %}
          {{ option.text }}
      {% endif %}
    {% endfor %}
    </td>
    <td>{{ h.get_translated(field.get('info', {}), 'condition') }}</td>
    <td>{{ h.render_markdown(
      h.get_translated(field.get('info', {}), 'notes')) }}</td>
    <td>{{ h.get_translated(field.get('info', {}), 'label') }}</td>
    <td>{{ h.get_translated(field.get('info', {}), 'fachbez') }}</td>
    <td>{{ h.get_translated(field.get('info', {}), 'opendata') }}</td>
  </tr>