<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('Eine Ressource kann sowohl der Link zu den Quelldaten sein, die der Metadatensatz beschreibt, als auch eine Datei oder ein Link mit sonstigen 
      dem Metadatensatz zugeordneten Informationen, wie zum Beispiel ein Datenverzeichnis, Katalogwerte, Nutzungsbedingungen, Previews etc.') }}</p><br>
      {{ _("Jeder Metadatensatz braucht mindestens eine Ressource, um aktiv und öffentlich sichtbar zu sein.") }}</p><br>
      {{ _("Bei Abbrechen bleibt der Datensatz als Entwurf gespeichert und ist nur für den Ersteller über dessen Profil sichtbar.") }}</p><br>
      {{ _("Wenn zu dem Datensatz eine Ressource gespeichert wird, wird er aktiv und damit öffentlich sichtbar.
      Die Sichtbarkeit kann bei Erstellung oder Bearbeitung eines Datensatzes auf Mitglieder seiner Organisation begrenzt werden.") }}</p>
  </div>
</section>
