{% set url = h.url_for('lhm_organization.read', id=organization.name) %}
{% block item %}
<li class="media-item">
  {% block item_inner %}
    {% block image %}
      <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-responsive media-image">
    {% endblock %}
    {% block title %}
      <h2 class="media-heading">{{ organization.display_name }}</h2>
    {% endblock %}
    {% block description %}
      {% if organization.description %}
        <p class="media-description">{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
      {% endif %}
    {% endblock %}
    {% block link %}
      <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="media-view">
        <span>{{ _('View {organization_name}').format(organization_name=organization.display_name) }}</span>
      </a>
    {% endblock %}
  {% endblock %}
</li>
{% endblock %}
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
