{% ckan_extends %}

{{ super() }}

{% set schema = h.scheming_get_dataset_schema(dataset_type) %}


{% block package_description %}
    {% block package_markers %}
        {% snippet 'package/snippets/marker.html', pkg = g.pkg_dict %}
    {% endblock %}
{{ super()}}
{% endblock %}


{% block package_resources %}
<hr>
{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources,
  can_edit=h.check_access('package_update', {'id':pkg.id }) %}
<hr>
{% endblock %}

{% block package_tags %}
<h3>Tags</h3>
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
{% endblock %}

{% block package_additional_info %}
  {% snippet "/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}