{%- set values = data[field.field_name] -%}
{%- set labels = [] -%}

{%- for choice in h.scheming_field_choices(field) -%}
    {%- if choice.value in values -%}
      {%- do labels.append(h.scheming_language_text(choice.label)) -%}
    {%- endif -%}
{%- endfor -%}

{%- if labels|length == 1 -%}
  {% if labels[0] == 'Nutzung für Backendverarbeitung und Präsentation' %}
    {{ 'Backendverarbeitung und Präsentation' }}
  {% elif labels[0] == 'Nutzung durch externe Auftragnehmer mit Nutzungsbedingungen/ -vereinbarungen' %}
    {{ 'Externe Auftragnehmer' }}
  {% elif labels[0] == 'Nutzung durch Externe (nicht Auftragnehmer) mit Nutzungsbedingungen/ -vereinbarungen' %}
    {{ 'Externe (nicht Auftragnehmer)' }}
  {% elif labels[0] == 'Einschränkungen bei Inhalten oder Attributen' %}
    {{ 'Einschränkungen bei Inhalten oder Attributen' }}
  {%- endif -%}
{%- else -%}
    {%- if field.get('sorted_choices') -%}
        {%- set labels = labels|sort -%}
    {%- endif -%}
    <ul style="list-style: inside; padding-left: 0;">
    {%- for label in labels -%}
      {% if label == 'Nutzung für Backendverarbeitung und Präsentation' %}
        <li>{{ 'Backendverarbeitung und Präsentation' }}
        </li>
      {% elif label == 'Nutzung durch externe Auftragnehmer mit Nutzungsbedingungen/ -vereinbarungen' %}
        <li>{{ 'Externe Auftragnehmer' }}
        </li>
      {% elif label == 'Nutzung durch Externe (nicht Auftragnehmer) mit Nutzungsbedingungen/ -vereinbarungen' %}
        <li>{{ 'Externe (nicht Auftragnehmer)' }}
        </li>
      {% elif label == 'Einschränkungen bei Inhalten oder Attributen' %}
        <li>{{ 'Einschränkungen bei Inhalten oder Attributen' }}
        </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
{%- endif -%}
