{% ckan_extends %}

{% set lhm_organizations = h.lhm_lhm_orgs(q=q) %}

{% block organizations_search_form %}
  {% snippet 'snippets/search_form.html',
    form_id='organization-search-form',
    type='organization',
    query=q,
    sorting_selected=sort_by_selected,
    count=lhm_organizations|length,
    placeholder=_('Search organizations...'),
    show_empty=request.params,
    no_bottom_border=true if lhm_organizations,
    sorting=[(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
{% endblock %}

{% block organizations_list %}
  {% if lhm_organizations %}
    {% snippet "organization/snippets/organization_list.html", organizations=lhm_organizations, show_capacity=True %}
  {% elif request.params %}
    <p class="empty">{{ _('No organizations found for this search.') }}</p>
  {% else %}
    <p class="empty">
      {{ _('There are currently no organizations for this site') }}.
      {% if h.check_access('organization_create') %}
        {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>.
      {% endif %}
    </p>
  {% endif %}
{% endblock %}

{% block page_pagination %}
{% endblock %}
