{% ckan_extends %}

{{ super() }}

{% block organizations_search_form %}
{% endblock %}
  {% block organizations_list %}
    {% if page.items or request.params %}
      {% if q %}
        <div class="group-box">
          <h2>{{ _('Datenquellen') }}</h2>
          {% snippet "organization/snippets/organization_list.html", organizations=page.items %}
        </div>
      {% else %}
         <div class="group-box">
           <h2>{{ _('Datenquellen') }}</h2>
           {% snippet "organization/snippets/organization_list.html", organizations=organizations or page.items, show_capacity=True %}
         </div>
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
  {% endblock %}