{% ckan_extends %}

{% block header_wrapper %}
  {% block header_account %}
  <div class="account-masthead">
    <div class="container">
      {% block header_logo %}
        {% if g.site_logo and 'lhm' in g.site_logo %}
          <a class="logo_lhm" href="{{ h.url_for('home.index') }}">
            <img src="{{ h.url_for_static('/base/images/lhm_logo.jpg') }}"
                 alt="{{ g.site_title }}" title="{{ g.site_title }}" style="float: left"/>
          </a>
          <a class="logo_lhm" href="{{ h.url_for('home.index') }}">
            <img src="{{ h.url_for_static('/base/images/Symbol-Katalog_DZM.svg') }}"
                 alt="{{ g.site_title }}" title="{{ g.site_title }}" style="float: right"/>
          </a>
        {% elif g.site_logo %}
          <a class="logo" href="{{ h.url_for('home.index') }}">
            <img src="{{ h.url_for_static_or_external(g.site_logo) }}"
                 alt="{{ g.site_title }}" title="{{ g.site_title }}" />
          </a>
        {% else %}
          <h1><a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a></h1>
        {% endif %}
      {% endblock header_logo %}

      {% block header_account_container_content %}
        {% if c.userobj %}
          {{ super() }}
        {% endif %}
      {% endblock header_account_container_content %}
    </div>
  </div>
  {% endblock header_account %}

  <header class="masthead" style="padding:0px !important">
    <div class="container">
      {% block header_debug %}
        {% if g.debug and not g.debug_supress_header %}
          <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
        {% endif %}
      {% endblock header_debug %}

      <nav class="navbar navbar-expand-lg navbar-light" style="padding:0px">
        <a href="{{ h.url_for('home.index') }}"><img src="../../../base/images/Hintergrundbild_1.jpg" alt="Home" style="width:254px;height:auto; display:inline-block"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation-toggle"
          aria-controls="main-navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars text-white"></span>
        </button>
        <div class="main-navbar collapse navbar-collapse" id="main-navigation-toggle">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding:0px">
            {% block header_site_navigation %}
              {% block header_site_navigation_tabs %}
                {% set org_type = h.default_group_type('organization') %}
                {% set group_type = h.default_group_type('group') %}
                {{ h.build_nav_main(
                  (('dataset.search', _('Datasets'))),
                  (('lhm_organization.index', _('Abteilungen'), ['lhm_organization'])),
                  ((org_type ~ '.index', _('Datenquellen'), ['organization'])),
                  ((group_type ~ '.index',
                    h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']))
                ) }}
              {% endblock header_site_navigation_tabs %}
            {% endblock header_site_navigation %}
           </ul>
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding: 0px; margin-left: 0px !important;">
            <li class="nav-item">
            {% block search_header_lhm %}
              {% set placeholder = _('E.g. environment') %}
              {% set dataset_type = h.default_package_type() %}
                <form class="search-form" method="get" action="{% url_for dataset_type ~ '.search' %}" style="padding:0px;margin:0px;">
                  <div class="search-input form-group search-giant" style="margin: 0px;">
                    <input aria-label="{% block header_site_search_label_header_lhm %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}" id="field-header-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="Datensätze suchen ..." style="padding-top: 6.5px;padding-bottom: 6.5px;padding-left: 13px;padding-right: 13px;font-size: var(--bs-body-font-size);" />
                  </div>
                </form>
              </li>
            {% endblock %}
          </ul>
        </div>
      </nav>
    </div>

  </header>
{% endblock header_wrapper %}
