{% extends "package/base.html" %}

{% set default_group_type = h.default_group_type('group') %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(
    h.get_translated(pkg, 'notes'), extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {% set relation_enabled = h.lhm_relation_enabled() %}
  {% set relation_style = h.lhm_relation_diagram_style() %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'),  id=pkg.name, icon='sitemap') }}
  {% if relation_enabled and relation_style == 'lhm' %}
    {{ h.build_nav_icon('relation.relations', 'Kontext', id=pkg.name, icon='link', highlight_controllers=['relation']) }}
  {% endif %}
  {{ h.build_nav_icon(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Groups'), id=pkg.name, icon='users') }}
  {% if relation_enabled and relation_style != 'lhm' %}
    {{ h.build_nav_icon('relation.relations', _('Relationships'), id=pkg.name, icon='link') }}
  {% endif %}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg, am_following=am_following %}
  {% endblock %}

  {% block package_organization %}
    {% set department = h.lhm_package_department(pkg_dict if pkg_dict is defined else pkg) %}
    {% if department %}
      {% snippet "snippets/department.html", department=department, has_context_title=true %}
    {% endif %}
  {% endblock %}

{% endblock %}