{% ckan_extends %}


  {% block resouce_data_dictionary_headers %}
  <tr>
    <th scope="col">{{ _('Attribute') }}</th>
    <th scope="col">{{ _('Data Type') }}</th>
    <th scope="col">{{ _('Conditions') }}</th>
    <th scope="col">{{ _('Description') }}
      <span class="fa fa-info-circle" style="font-size: 11pt;" data-toggle="tooltip" title="Auch: Fachliche Bezeichnung"></span>
    </th>
    <th scope="col">{{ _('Remarks') }}</th>
    <th scope="col">{{ _('Open Data & HVD') }}</th>
  </tr>
  {% endblock %}

  {% block resource_data_dictionary_data %}
    {% set dict=h.datastore_dictionary(res.id) %}
    {% for field in dict %}
      {% snippet "package/snippets/dictionary_view.html", field=field %}
    {% endfor %}
  {% endblock %}