{% extends "page.html" %}

{% block subtitle %}{{ _('Abteilungen') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Abteilungen'), named_route='lhm_organization.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Abteilung hinzufügen'), named_route='organization.new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Abteilungen') }}</h1>

  {% if organizations %}
    {% snippet "lhm_organization/snippets/organization_tree_list.html", organizations=organizations %}
  {% elif request.params %}
    <p class="empty">{{ _('No organizations found for this search.') }}</p>
  {% else %}
    <p class="empty">{{ _('There are currently no organizations for this site') }}.</p>
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/helper.html" %}
{% endblock %}
