body {
    background-color: #00AB9F;
}

.homepage
[role=main]{
    padding: 0%;
}

.fa-arrow-right-to-bracket,
.fa-person,
.fa-file-contract,
.fa-envelope,
.fa-github,
.fa-codepen,
.fa-sign-out,
.fa-sign-in,
.attribution,
.fa-address-card-o,
.fa-suitcase,
.fa-info-circle{
    color: #CCDEE3;
}

a:hover, a:active {
    color: #00AB9F;
}

html,
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a,
.homepage .module-search .tags,
.hero .tags {
    background-color: #00AB9F;
    color: #FFF;
}


.masthead {
    width: 100%;
    height: auto;
    background-image: url("../../../base/images/Hintergrundbild_1.jpg");
    background-color: #48CCBF;
    background-size: contain; /* This ensures that the image covers the entire element */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position-x: 20%;
    margin-right: auto;
    margin-left: auto;
}

.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
    border-radius: 0.3rem;
    background-color: #00AB9F;
}

.btn-info {
    color: #fff;
    background-color: #00AB9F;
    border-color: #00AB9F;
}

.btn-info:hover {
    background-color: #66d3cc;
    border-color: #2f948a;
}

.btn.btn-info:active {
    background-color: #122826;
    border-color: #2f948a;
}


.account-masthead .navigation .nav-pills li a:hover,
.account-masthead .navigation .nav-pills li a:active {
    background-color: #00AB9F;
}

.account-masthead .logo_lhm img {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 60px;
    max-height: 40px;
}

.account-masthead {
    min-height: 20px;
    background-color: #00AB9F;
}

.account-masthead .nav-tabs:after,
.account-masthead .nav-pills:after {
    clear: none;
}

.hero .module-dark .module-content,
.homepage .module-search .module-content,
.lhm-footer {
    background-color: #00AB9F;
}

.lhm-footer {
    padding: 10px 0;
}

.footer-links a {
    color: #fff;
}

.lhm-footer .attribution .ckan-footer-logo {
    display: block;
    width: 68px;
    height: 21px;
    margin-top: 2px;
    background: url("../../../base/images/ckan-logo-footer.png") no-repeat top left;
    text-indent: -900em;
}

.lhm-footer .attribution .tum-footer {
    margin-bottom: 0;
}

.lhm-footer .attribution .tum-footer-logo {
    display: block;
    width: 81px;
    height: 45px;
    margin-top: 2px;
    background: url("../../../base/images/tum.gif");
    text-indent: -900em;
}

.lhm-footer a:hover {
    color: #c2e5e2;
}

.lhm-footer .account-footer .nav,
.lhm-footer .account-footer .account,{
    float: left;
}

.lhm-footer .account-footer .account ul li {
    display: block;
    float: left;
    border-left: 1px solid #00232e;
}

.account-footer {
    min-height: 20px;
}

.homepage .hero-lhm {
    background: url("../../../base/images/Hintergrund_Stadt_3D.jpg");
    background-size: cover; This ensures that the image covers the entire element */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center;
    padding: 20px 0;
}

.hero-lhm:after {
    background-color: rgba(0, 0, 0, 0.09);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-repeat: repeat-x;
    background-color: #f6f6f6;
    border-bottom: 1px solid #d0d0d0;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.03);
  }

.hero-lhm:after .back:hover {
text-decoration: none;
}
.hero-lhm:after .back:hover span {
text-decoration: underline;
}

.homepage .module-promotion {
background: #fff;
opacity: 0.9;
padding: 10px;
border: 1px solid #ccc;
}


.homepage .module-promotion:hover {
background: #fff;
opacity: 1.0;
padding: 10px;
border: 1px solid #ccc;
}

.module-promotion .promotion-text {
    background: #00AB9F;
    }

.promotion-text p {
    color: #fff;
    padding: 10px;;
}

.homepage .module-search {
color: #fff;
opacity: 0.9;
padding: 10px;
border: 1px solid #ccc;
}

a.tag:hover {
    text-decoration: none;
    color: #fff;
    background-color: #00AB9F;
    border: 1px solid #c2e5e2;
    box-shadow: inset 0 1px 0 #c2e5e2;
  }
.homepage .module-search:hover {
color: #fff;
opacity: 1.0;
padding: 10px;
border: 1px solid #ccc;
}

.homepage .group {
    padding: 20px ;
    min-height: 0px;
}

.category-box a {
    color: #fff;
}

.category-box {
    background-color: #00AB9F;
    opacity: 0.9;
}

.category-box:hover {
    background-color: #00AB9F;
    opacity: 1.0;
}

.category-box .media-grid {
    background-image: none;
    background-color: transparent;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.media-item-lhm:hover{
    transform: scale(1.2);
  }

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #00AB9F ;
    border-color: #00AB9F;
}

.group-box {
    background-color: #00AB9F;
}

.group-box h2 {
    color: #fff;
    padding: 10px;
    border: 10px;
    text-align: center;
}

.group-help ul{
    margin-bottom: 3px;
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
}

.media-item {
    flex-basis: 33.33333 % // For 3 items in a row.
}

.dataset-markers marker a{
    list-style-type: none;
    margin: 0 -25px 0 0px;
    padding: 0;
    float: right;
}

.btn-primary{
    background-color: #00AB9F;
    border-color: #00AB9F;
}
.btn-primary:hover {
    background-color: #66d3cc;
    border-color: #2f948a;
}

.dropdown-toggle.btn-primary:focus {
    background-color: #03756e;
}

.btn-success {
    color: #fff;
    background-color: #00AB9F;
    border-color: #00AB9F;
}
.btn-success:hover {
    background-color: #66d3cc;
}

.pagination .active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #00AB9F;
    border-color: #00AB9F;
}

.pagination .active a:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #66d3cc;
    border-color: #66d3cc;
}

.contact {
    margin-top: 30px;
    font-style: italic;
}

.vision {
    width: 80%;
    padding: 10px;
}

.additional-info table .heading {
    font-weight: bold;
    font-size: 15px;
}

.table1{
    background-color: #aff2ee;
    margin-top: 10px;
    border-collapse: collapse;
}

.table2{
    background-color: #e1faf8;
    margin-top: 10px;
    border-collapse: collapse;
}

.table3{
    background-color: #effcfa;
    margin-top: 10px;
    border-collapse: collapse;
}

.table4{
    background-color: #f7fdfd;
    margin-top: 10px;
    border-collapse: collapse;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-right: 3%;
    transition: background-color 0.3s ease;
}

.collapsible-header:hover {    
    color: #fdfdfd;
    background-color: #00AB9F;
    padding-left: 1%;
}

.collapsible-content {
    display: block;
    overflow: hidden;
    padding: 0 10px;
}

.collapsible-content.show {
    display: block;
}

.plus-sign {
    font-size: 18px;
    font-weight: bold;
}



@media screen and (max-width: 600px) {
    table {
        width: 100%;
        overflow-x: auto; /* Enables horizontal scroll on smaller screens */
    }
}


.row[role='main']{
    background: #fff;
}

.group-icon-overview {
    width: 10%; 
    height: auto; 
    float: right; 
    margin: 10px;
}

.group-icon-detailed {
    width: 60%; 
    height: auto; 
    float: none; 
    margin: 10px;
}

.last-data-import {
    /* Position it below the group icon */
    position: absolute; /* Use absolute positioning */
    /*top: calc(11% + 20px + 10px);  Position it below the group icon */
    right: 50px; /* Adjust as needed */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Apply styles to the update title */
.update-title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Add some space below the title */
}

/* Apply styles to the update date */
.update-date {
    display: block;
}

/* Create two equal columns that floats next to each other */
.column_note {
    float: left;
    width: 80%;
  }

.column_date {
    float: left;
    width: 20%;
  }

